In [9]:
import sys
sys.path.append('/usr/lib/python3/dist-packages')
import os
import pandas as pd
import datetime
import pandas as pd
import numpy as np
from tqdm import tqdm
import json
import shapefile
from shapely.geometry  import Point, LineString, Polygon, MultiPolygon

from django.conf import settings
#from sqlalchemy import create_engine
os.environ["DJANGO_SETTINGS_MODULE"] = "mysite.settings"
import django
django.setup()
from tqdm import tqdm
import glob

In [10]:
from main_map.models import OrganizationNatClass, House, Metro, MetroStation, PolygonModel, GroundStop, OperSquare
from main_map.models import Organization, OrganizationNatClass, Workplace, House, MetroStation, Metro, GroundStop
from django.core import serializers
from django.utils.safestring import mark_safe

In [11]:
import sys
import json
sys.path.append('/usr/lib/python3/dist-packages')
from pyproj import Proj, transform
def add3857(row):
    xy = transform(PROJ4326, PROJ3857, row['lon'], row['lat'])
    return xy

In [12]:
import pandas as pd

In [13]:
df_polygons = pd.read_csv('/home/tserekh/evil/azbuka_/data/empty_polygons.csv',index_col='Id')

In [21]:
df = pd.read_csv('/home/tserekh/abc_data/oper_data/population_density_20170410_20170416.csv',
                 sep=';', index_col = 'ZID', usecols = ['DATE_TIME','CUSTOMER_CNT_TOTAL','ZID'])

/home/tserekh/jupnb/lib/python3.5/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [24]:
df_polygons['lon'] = (df_polygons['0']+df_polygons['2']+df_polygons['4']+df_polygons['6'])/4
df_polygons['lat'] = (df_polygons['1']+df_polygons['3']+df_polygons['5']+df_polygons['7'])/4

In [25]:
PROJ3857  = Proj("+init=EPSG:3857")
PROJ4326 = Proj("+init=EPSG:4326")

In [26]:
df_polygons['xy'] = df_polygons.apply(add3857, axis = 1)
df_polygons['x'] = df_polygons['xy'].apply(lambda xy:xy[0])
df_polygons['y'] = df_polygons['xy'].apply(lambda xy:xy[1])
df_polygons = df_polygons[['x','y']]

In [27]:
df = df.join(df_polygons)

In [28]:
df

               DATE_TIME  CUSTOMER_CNT_TOTAL             x             y
0       2017.04.10 00:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 00:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 01:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 01:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 02:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 02:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 03:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 03:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 04:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 04:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 05:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 05:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 06:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 06:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 07:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 07:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 08:00                   7  4.302621e+06  7.219066e+06
0       2017.04.10 08:30                   7  4.302621e+06  7.219066e+06
0       2017.04.10 09:00                   7  4.302621e+06  7.219066e+06
0       2017.04.10 09:30                   7  4.302621e+06  7.219066e+06
0       2017.04.10 10:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 10:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 11:00                   5  4.302621e+06  7.219066e+06
0       2017.04.10 11:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 12:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 12:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 13:00                   6  4.302621e+06  7.219066e+06
0       2017.04.10 13:30                   6  4.302621e+06  7.219066e+06
0       2017.04.10 14:00                   5  4.302621e+06  7.219066e+06
0       2017.04.10 14:30                   4  4.302621e+06  7.219066e+06
...                  ...                 ...           ...           ...
190241  2017.04.13 17:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 18:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 18:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 19:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 19:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 20:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 20:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 21:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 21:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 22:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 22:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 23:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.13 23:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 00:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 00:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 01:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 01:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 02:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 02:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 03:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 03:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 04:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 22:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 23:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.14 23:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.15 13:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.15 19:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.16 10:00                   1  4.200111e+06  7.751473e+06
190241  2017.04.16 10:30                   1  4.200111e+06  7.751473e+06
190241  2017.04.16 11:00                   1  4.200111e+06  7.751473e+06

[57002474 rows x 4 columns]

In [ ]:
count = OperSquare.objects.count()
if count!=0:
    print('Objects:', count)
    print("don't need to insert")
else:


    features = ['if_home', 'male', 'age', 'income', 'users', 'x', 'y','source_id']

    print(len(df))
    for i, row in tqdm(df[features].iterrows()):
        square = OperSquare(**row.to_dict())
        square.save()

3748097

3685876it [2:16:18, 450.69it/s]